@import (reference) "../style/index";

.jc{
  &-card{
    background: #fff;
    border: 1px solid @main_border_color;
    border-radius: .5em;
    transition: all .5s;
    box-shadow: 0 0 1.2em rgba(0,0,0,.1);
    overflow: hidden;


    &:hover{
      box-shadow: 0 0 1.4em rgba(0,0,0,.2);
    }

    &-title{
      padding: .8em 1.5em;
      border-bottom: 1px solid @main_border_color;

      > strong {
        font-size: 16px;
      }
    }

    &-content{
      padding: .8em 1.5em;
    }
  }
}
