@import "../../style/index";

.message{
  position: absolute;

  .success{
    color: @success_color;
  }

  .info{
    color: @info_color;
  }

  .warn{
    color: @warn_color;
  }

  .error{
    color: @error_color;
  }
}
