@import (reference) "../../../style/index";

.jc{
  &-sider{
    width: 270px;
    min-width: 270px;
    height: 100%;
    border-right: 1px solid @main_border_color;
    background: #f3f4f5;
    display: flex;
    flex-direction: column;
    position: relative;

    > nav{
      flex: 1;
    }

    &-operator{
      height: 40px;
      > div{
        width: 100%;
        height: 100%;
        line-height: 40px;
      }

      .sider-not-login{
        > a{
          display: inline-block;
          width: 50%;
          font-size: 14px;
          text-align: center;

          &:first-child{
            border-right: 1px solid @main_border_color;
          }
        }
      }

      .sider-is-login{
        text-align: center;
        cursor: pointer;

        &:hover,&:active,&:focus{
          > button{
            .logout-icon{
              background-image: url("http://ovutpacix.bkt.clouddn.com/logout-active.svg");
            }
          }
        }

        > button{
          background: transparent;
          font-size: 14px;
          color: @error_color;
          position: relative;

          .logout-icon{
            display: block;
            position: absolute;
            left: -40px;
            width: 40px;
            height: 40px;
            background: transparent center center no-repeat;
            background-image: url("http://ovutpacix.bkt.clouddn.com/logout-default.svg");
            background-size: 60% 60%;
          }
        }
      }
    }


    button.sider-close{
      position: absolute;
      background: transparent;
      cursor: pointer;
      font-size: 40px;
      left: 20px;
      top: 0;
      color: @error_color;
      display: none;
    }
  }
}



@media screen and (max-width: @pad_width){
.jc-sider{
  button.sider-close{
    display: inline-block;
  }
}
}

